.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    visibility: visible;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;

    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubi;
}

.modal__cerrar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    background: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal__cerrar__icon {
    height: 11px;
    width: 11px;
    border-radius: 0px;
}

/**---------------Iconos formulario----------------------------*/

.form {

    position: absolute;
    margin-left: 41px;
    margin-right: 39px;
    margin-top: 38.5px;
    top: 0;
    left: 0;
}

.form__title {
    width: 448px;
    height: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;
}

.form__label__name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.form__label__div {
    width: 448px;
    height: 40px;
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
}

.form__label__input {
    width: 400px;
    height: 20px;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
}

.form__label__icon {
    fill: #212121;
    position: absolute;
    width: 15px;
    height: 13px;
    top: 14px;
    left: 15px;
}

.form__label__div:focus-within .form__label__icon {
    fill: $accent-color;
}

.form__label__div:focus-within {
    border: 1px solid $accent-color;
}

/*------------------------------------------*/
.form__label__conter__comen__textarea {
    width: 416px;
    height: 96px;
    margin: 10px 14px;
    border: none;
    outline: none;
    resize: none;
    color: rgba(117, 117, 117, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
}

.form__label__conter__comen {
    box-sizing: border-box;

    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
}

.form__label__checkbox {
    width: 400px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    color: #757575;
    text-align-last: start;
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    gap: 7px;
    margin: 0px 30px;
    margin-bottom: 40px;
}

.form__label__checkbox__input[type='checkbox'] {
    width: 16px;
    height: 15px;
    border-radius: 2px;
}

/* ---------------------LABEL BUTTON --------------------------*/
.form__counter__button {
    margin: 0px 130px;
}

.form__counter__label__button {
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 32px;
}

.form__counter__label__button:hover {
    cursor: pointer;
    background-color: $button-primary-hover;
}