* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
    list-style: none;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*------------styles index-----------------------------*/
* {
    box-sizing: border-box;
}

.container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 94px 0;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--primary-white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}



.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: $accent-color;
    line-height: 2rem;
    text-decoration: none;
    padding: 25px 0;
    margin-right: 93px;
}