$container-padding: calc((100% - 1200px) / 2);
$cubi: cubic-bezier(0.4, 0, 0.2, 1);
$primary-black-color: #212121;
$primary-text-color: #757575;
$primary-white-color: #ffffff;

$accent-color: #2196f3;
$background-black-dark: #2f303a;
$button-primary-hover: #188ce8;
$borde-gris-icon: #afb1b8;
$line-menu: #ececec;
$backgraund-gris: #f5f4fa;